/* $footer-text-color: rgb(130, 81, 30);
$footer-text-color-hover: rgba(130, 81, 30, 0.6);
$text-color: rgb(172, 168, 164);
$blue-color : rgba(13, 30, 36, 0.9);

.btn-primary {

    color: $text-color;
    background-color: $footer-text-color;
    border-color: $footer-text-color;
}

.btn-primary:hover {

    background-color: $footer-text-color-hover;
}

.container {
    background-color: $blue-color;
    padding: 10px 10px 10px;
}
 */