<div class="container">
    <h1 class="title-article">LA MORT DE SUPERMAN: LE JOUR OÙ LA TERRE S’ARRÊTA</h1>
    <div class="row bloc-article">
        <div class="col-md-7">
            <p>Doomsday, une créature maléfique dévaste les États-Unis de long en large. 
                Même la Ligue de Justice succombe face à une telle sauvagerie. 
                Seul Superman reste debout face au monstre. Debout... pour son dernier combat.</p>
        
        </div>
        <div class="col-md-5">
            <img src="../assets/img/home-article/mort-superman.jpg" alt="add" class="home-img">
        </div>
    </div>
    <div class="row bloc-article">
        <div class="col-md-5">
            <img src="../assets/img/home-article/mort-superman2.jpg" alt="add" class="home-img">
        </div>
        <div class="col-md-7">
            <p>Le 17 novembre 1992, l’Amérique et le Monde apprirent la triste nouvelle de 
                la mort de l’Homme d’Acier, Superman</p>
        
        </div>
    </div>
</div>