<div class="container recap">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Firstname : {{firstname}}</li>
        <li class="list-group-item">Lastname : {{lastname}}</li>
        <li class="list-group-item">Username : {{username}}</li>
        <li class="list-group-item">Civility : {{civility}}</li>
        <li class="list-group-item">Email : {{email}}</li>
        <li class="list-group-item">Phone : {{phone}}</li>
        <li class="list-group-item">Address : {{address}}</li>
        <li class="list-group-item">City : {{city}}</li>
        <li class="list-group-item">State : {{state}}</li>
        <li class="list-group-item">Zip : {{zip}}</li>
    </ul>
</div>