<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 container">
    <div class="col-md-4 d-flex align-items-center">

    <span class="copyright">&copy; 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://www.dccomics.com/"><img src="../assets/img/footer_dc-integration.png" class="footer-img" alt="icon twitter"></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.pinterest.fr/dccomics/"><img src="../assets/img/footer_pinterest-integration.png" class="footer-img" alt="icon twitter"></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.youtube.com/user/DCEntertainmentTV"><img src="../assets/img/footer_youtube-integration.png" class="footer-img" alt="icon twitter"></a></li>
        <li class="ms-3"><a class="text-muted" href="https://twitter.com/DCComics"><img src="../assets/img/footer_twitter-integration.png" class="footer-img" alt="icon twitter"></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/frdccomics"><img src="../assets/img/footer_facebook-integration.png" class="footer-img" alt="icon twitter"></a></li>
    </ul>
</footer>